

nav {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding:12px;
    align-items: center;
    background-color: #6482AD;
}

.nav-container {
    display:flex;
    background-color: #F5EDED;
    flex-direction: row;
    transition: 1s;
}

.nav-item {
    border: 2px solid;
    padding: 8px;
    background-color: blanchedalmond;
    display: flexbox;
    color: black;

}
body {
    margin:0;
    padding: 0%;
}

.line-paragraph {
    text-align: center;
    align-items: center;
}

.line-paragraph-text {
    text-align: center;
    align-items: center;
}

.travel-agent {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.your-happiness {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-content {
    display: flex;
}

.font-liburanku {
    font-style: italic;
    color: gray;
    font-size: larger;
}


.main-content-item {
    width: 640px;
    height: 700px;
    background-color: white;
    text-align: center;
}

.main-content-item-1 {
    width: 100%;
    height: 700px;
    background-color: #ffffff;
    text-align: center;
    position:relative;
    font-size: large;
}

.main-content-item-1-2 {
    width: 70%;
    height: 750px;
    margin-left: 20%;
    margin-right: 10%;
    background-color: #E2DAD6;
    font-size: large;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact-styles {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px ;
    color:#405D72;
    padding-top: 10%;

}

.sales-style {
    padding-left: 20%;
    padding-right: 19%;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    width: 100%;
}

.words-position1{
    top: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-right: 200px;
}

.words-position2{
    top: 25px;
    right: 57px;
    bottom: 300px;
    padding-right: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 190px;
    padding-top: 20px;
}

.words-position3{
    padding-right: 8%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.main-content-banner {
    width: 700px;
    height: 300px;
    margin-left: 5%;
    text-align: center;
    transition: 0.5 ease;
    box-shadow: 0 4px 8px #d1d3d4;
    background-image: url(https://s-light.tiket.photos/t/01E25EBZS3W0FY9GTG6C42E1SE/rsfit800600gsm/eventThirdParty/2022/04/28/a3f13a55-2215-431a-be7c-e5fa072bf142-1651084304841-7763b26e2f2edaafddcad97779f0a123.jpg);
}


.gambar-travel {
    position: relative;
    margin-top: 0%;
    height: 100px;
    width: 400px;
    padding-bottom: 0px;
    background-image: url(https://picsum.photos/25)
}

.item-icon {
    position: relative;
    bottom: 100%;
    left: 10%;
    margin-top: 5%;
    height: 50px;
    width: 50px;
    padding-bottom: 0px;
    border: 1px solid;
    border-radius: 50px;
    background-image: url(https://picsum.photos/25)
    
}

.item-words {
    position: relative;
    margin-top: 3%;
    margin-left: 2%;
    left: 10%;
    flex-direction: column;
}

.florence-hughes {
    color:black;
    margin-left: 1%;
    font-size:medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f1f1f1;
}
.ibu-rumah {
    font-style: italic;
    color:brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f1f1f1;

}

.main-item { 
    display: flex;
    padding: 10px;
    padding-left: 30px;
    background-color: #E2DAD6;
    border-radius: 5px;
    margin-left: 0px;
    border-left: 30px;
    width: 300px;

}



input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30%;
}

.option-box{
    width: 70%;
    height: 40px;
    display: inline-block;
}


button {
    display: flex;
    padding: 10px;
    background-color: #698474;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    transition: 0.9s ease;
    right: 20px;
    width: 160%;
    animation: animate 1% linear infinite;  
}

button:hover {
    color:#b6731a
}

.button-send-line {
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 35px;
    width:50%;

}
.button-send {
    padding-left: 30%;
    width: 90px;
    text-align: center;
    align-items: center;
    align-content: center;
}


.main-content-item2 {
    width: 50%;
    height: 350px;
    background-color: whites;
    text-align: center;
}

.container {
    max-width: 550px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.header1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.feature-list {
    list-style: none;
    padding: 0;
}
.feature-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.feature-item-number {
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #FFF8DB;
    border-radius: 50%;
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-item-text {
    font-size: 16px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-content-item3 {
 
    width: 100%;
    height: 400px;
    background-color: #F5EDED;
    text-align: center;
    align-items: center;

}

.line-paragraph-our-package {
    text-align: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    margin-top: 0%;
    padding-top: 15%;
    top: 300px;
    left: 100px;
    margin-bottom: 90px;
}

.line-paragraph-our-package:hover {
    color:#b6731a;
    font-style:inherit;
}

.container-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 850px;
}

.container-item {
    background-color: lightgray;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.items-words {
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    left: 0%;
}

.items:hover {
    background-color: #DCA47C;
}

.item-icon-image-korea {
    position: relative;
    top: 10%;
    bottom: 20%;
    left: 5%;
    margin-top: 0%;
    height: 30px;
    width: 30px;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow ;
    transition: ease-in 0.5s;
}

.item-icon-image-japan {
    position: relative;
    top: 10%;
    bottom: 20%;
    left: 5%;
    margin-top: 0%;
    height: 30px;
    width: 30px;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow ;
    transition: ease-in 0.5s;
}

.item-icon-image-singapore {
    position: relative;
    top: 10%;
    bottom: 20%;
    left: 5%;
    margin-top: 0%;
    height: 30px;
    width: 30px;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow ;
    transition: ease-in 0.5s;
}

.item-icon-image-bandung {
    position: relative;
    top: 10%;
    bottom: 20%;
    left: 5%;
    margin-top: 0%;
    height: 30px;
    width: 30px;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow ;
    transition: ease-in 0.5s;
}

.item-icon-image-bali {
    position: relative;
    top: 10%;
    bottom: 20%;
    left: 5%;
    margin-top: 0%;
    height: 30px;
    width: 30px;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow ;
    transition: ease-in 0.5s;
}
.item-icon-image-jakarta {
    position: relative;
    top: 10%;
    bottom: 20%;
    left: 5%;
    margin-top: 0%;
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow ;
    transition: ease-in 0.5s;
}
.sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.items {
    width: 30%;
    margin: 4px 6px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.items-icon {
    font-size: 24px;
    margin-bottom: 10px;

}

.items-title {
    font-size: 28px;
    right: 100px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 40px;
    padding-left: 21.5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.items-description {
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    padding-left: 22%;
    padding-bottom: 20%;
    padding-right: 10%;
}
.container-footer {
    width: 100%;
    height: 300px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-top: 10%;
    background-color: #6482;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.closing-argument {
    text-align: center;
    align-items: center;
    align-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.closing-argument1 {
    text-align: center;
    align-items: center;
    align-content: center;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.footer-alignment {
    text-align: center;
    align-items: center;
    align-self: center;
}

footer {
    text-align: center;
    background-color: #eee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.footer-links {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.footer-links a {
    color: #333;
    text-decoration: none;
    margin-top: 5%;
}

.footer-links a:hover {
    text-decoration: underline;
    color:#b6731a
}

.button-cta {
    display:inline-flexbox;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    background-color: #F5EDED;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: medium;
    width:50%;
    Top: 10%;
    left: 43%;
    position: relative;
    box-shadow: 0 4px 8px #d1d3d4;
    
}

.button-cta:hover {
    color:#b6731a
}



@media only screen and(max-width: 400px) {
}
@media only screen and(max-width: 600px) {
}
@media only screen and(max-width: 800px) {
}
